<% layout("base") -%>

<div id="index-content">
    <div class="row">        
        <div id="maps" class="col-md-6">
            <h2>Maps</h2>

            <div id="map_list">
            
                <div class="map-item" id="map-new-item">
                    <img id="map-new-item-img" src="http://uxrepo.com/static/icon-sets/google-material/svg/android-add-circle-outline.svg" />
                    <div id="map-new-item-form">
                        <input type="text"  class="form-control" size="50" id="map-name" placeholder="Map name" />
                        <button id="create-map" class="btn-small btn-primary">Create</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="categories" class="col-md-5">
            <h2>Categories</h2>
            
            <div id="category_list">
                <div class="map-item" id="cat-new-item">
                    <img id="cat-new-item-img" src="http://uxrepo.com/static/icon-sets/google-material/svg/android-add-circle-outline.svg" />
                    <div id="cat-new-item-form">
                        <input type="text" class="form-control" size="50" id="category-name" placeholder="Category name" />
                        <input type="text" class="form-control" size="50" id="category-icon" placeholder="Category icon link" />
                        <button id="create-category" class="btn-small btn-primary">Create</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="category-popup">
            <div id="category-form" class="popup">
                <h3>Edit category</h3>
                <input type="text" class="form-control" id="edit-category-name" />
                <input type="text" class="form-control" id="edit-category-icon" />
                <input type="hidden" id="edit-category-id" />
                <button id="edit-category" class="btn btn-primary">Edit</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/js/app.index.js"></script>
