<% layout('base') -%>

<div id="login-content">
    <div class="popup">
        <h2>Login</h2>
        <form id="login-form" role="form" method="POST" action="/login">
            <input class="form-control" type="text" name="username" placeholder="Username" />
            <input class="form-control" type="password" name="password" placeholder="Password" />
            <button type="submit" class="btn-default btn">Login</button>
        </form>
    </div>
</div>
